@charset "UTF-8";
/*
Theme Name: CustomTheme
Theme URI: https://wordpress.org/themes/CustomTheme/
Author: the KofeLatte team
Author URI: http://KofeLatte.com.ua/
Description: CustomTheme brings your site to life with immersive featured images and subtle animations. Our default theme works great in many languages, for any abilities, and on any device.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: CustomTheme
Tags: custom-colors, custom-header, custom-menu, custom-logo, editor-style, featured-images, footer-widgets, post-formats
This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/
/*grey*/
/*text-default*/
/*   <Breadcrumbs/>   */
/*   <Muve-top/>   */
.markup-link {
  z-index: 1;
} /* === BEGIN FONTS === */
@font-face {
  font-family: "Gilroy-Regular";
  src: url("./assets/fonts/Gilroy-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url("./assets/fonts/Gilroy-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy-Bold";
  src: url("./assets/fonts/Gilroy-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HeliosLightC";
  src: url("./assets/fonts/HeliosLightC.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HeliosC";
  src: url("./assets/fonts/HeliosC.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  src: url("../assets/fonts/Oswald-Regular.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("../assets/fonts/arialmt.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("../assets/fonts/Arial-BoldMT.ttf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.btn-close {
  position: absolute;
  right: 44px;
  top: 44px;
  outline: none !important;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='44' height='44' viewBox='0 0 44 44' fill='none'%3E%3Ccircle cx='22' cy='22' r='22' fill='white'/%3E%3Cpath d='M23.2944 22.0048L30.6922 14.6392C31.0468 14.2877 31.0468 13.7188 30.6922 13.3682C30.3384 13.0167 29.7638 13.0167 29.41 13.3682L22.0186 20.7274L14.5588 13.2585C14.205 12.9034 13.6304 12.9034 13.2766 13.2585C12.9229 13.6145 12.9229 14.1906 13.2766 14.5457L20.731 22.0093L13.2497 29.4575C12.8959 29.809 12.8959 30.378 13.2497 30.7286C13.6035 31.0801 14.1781 31.0801 14.5319 30.7286L22.0068 23.2866L29.4369 30.7259C29.7906 31.081 30.3653 31.081 30.719 30.7259C31.0728 30.3699 31.0728 29.7938 30.719 29.4387L23.2944 22.0048Z' fill='%23818974'/%3E%3C/svg%3E");
}

header {
  color: white;
}
header .navbar-nav .nav-link {
  padding: 0;
  font-size: 16px;
  color: rgb(64, 73, 77);
  line-height: 24px;
  margin-right: 69px;
  text-decoration: none;
}
header .navbar-nav .nav-item {
  padding: 0 0 0 32px;
}
header .navbar-nav .nav-item::before {
  display: none;
}
header .nav-collapse {
  align-items: flex-end;
  margin-left: auto;
}
header .navbar-nav {
  margin-left: auto;
  display: flex;
  align-items: center;
}
header li:before {
  list-style: none;
  background-color: 0;
}

/*home*/
.first-screen {
  padding: 0 80px;
  background: rgb(243, 247, 244);
}
.first-screen .container-fluid {
  max-width: 1306px;
  display: flex;
  justify-content: space-between;
}
.first-screen__title, .first-screen__subtitle {
  font-weight: 400;
}
.first-screen__title {
  width: 420px;
  padding-top: 271px;
  margin-bottom: 44px;
  font-size: 60px;
  color: rgb(40, 51, 55);
  line-height: 60px;
}
.first-screen__subtitle {
  width: 347px;
  font-family: "Arial";
  font-weight: 400;
  font-size: 21px;
  color: rgb(64, 73, 77);
  margin-bottom: 26px;
  line-height: 31px;
}
.first-screen .btn-primary {
  text-decoration: none;
}
.first-screen .block-girl {
  margin-top: 172px;
  margin-bottom: 256px;
}

.second-screen {
  background-color: rgb(243, 247, 244);
  padding-bottom: 150px;
}
.second-screen .smart-block {
  margin-left: 102px;
}

.product {
  padding: 0 160px;
  display: flex;
}
.product-row {
  display: flex;
  justify-content: space-between;
}
.product_title {
  margin-top: 74px;
  width: 326px;
  color: rgb(16, 28, 33);
  margin-bottom: 28px;
  line-height: 60px;
}
.product_subtitle {
  font-weight: 400;
  width: 363px;
  margin-right: 194px;
  font-family: "Arial";
  font-size: 17px;
  line-height: 26px;
  margin-bottom: 39px;
}
.product .text-link {
  font-weight: 700;
}
.product .btn-primary {
  margin-bottom: 367px;
  text-decoration: none;
}
.product .automation {
  padding: 80px;
  width: 560px;
  margin-top: 100px;
  border-radius: 6px;
  background-color: rgb(243, 247, 244);
  margin-bottom: 100px;
}
.product .automation img {
  margin-bottom: 27px;
}
.product .automation_title {
  font-family: "Arial";
  color: rgb(16, 28, 33);
  font-weight: 400;
  font-size: 32px;
  margin-right: 194px;
  margin-bottom: 51px;
  line-height: 33.88px;
  width: 203px;
}
.product .automation .text-provision {
  width: 391px;
  font-weight: 400;
  font-size: 18px;
  font-family: "Arial";
  margin-right: 194px;
  margin-bottom: 38px;
  color: rgb(16, 28, 33);
  line-height: 26px;
}
.product .automation .btn-text {
  width: 113px;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  margin-left: 254px;
}

.result {
  background-color: rgb(243, 247, 244);
  padding-top: 224px;
  padding-bottom: 172px;
}
.result-item_title {
  text-align: center;
  line-height: 60px;
}
.result-row {
  display: flex;
  text-align: center;
  justify-content: space-between;
}
.result-number, .result-description {
  font-family: "Arial";
  font-weight: 400;
}
.result-number {
  font-size: 52px;
  margin-top: 75px;
  margin-bottom: 19px;
}
.result-description {
  font-size: 16px;
  line-height: 24px;
  width: 201px;
}

.options {
  margin-top: 400px;
}
.options_title {
  line-height: 60px;
  width: 285px;
  margin-bottom: 43px;
}
.options-row {
  display: flex;
  justify-content: space-between;
}
.options_subtitle {
  font-size: 11px;
  text-transform: uppercase;
  line-height: 14px;
  margin-bottom: 24px;
}
.options-description {
  font-size: 18px;
  width: 381px;
  line-height: 27px;
  margin-bottom: 24px;
}
.options_param-item {
  margin-left: 54px;
  font-size: 18px;
  margin-bottom: 12px;
  line-height: 26px;
  color: #40494D;
}
.options a {
  margin-top: 24px;
  text-decoration: none;
}
.options a:focus {
  text-decoration: none;
}
.options .video-play-block {
  margin-top: 84px;
  margin-bottom: 231px;
}

.section-icon {
  margin-bottom: 150px;
}

.section-icon-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 86px;
}

.section-icon-img {
  display: flex;
  justify-content: space-between;
}

.button {
  background-color: #F3F7F4;
  padding-top: 144px;
  padding-bottom: 150px;
}
.button-title {
  width: 529px;
  text-align: center;
  margin: 0 auto 48px;
}
.button-description {
  font-size: 36px;
  color: rgb(40, 51, 55);
  line-height: 36px;
  justify-content: center;
  display: flex;
  margin-bottom: 48px;
}
.button .button-btn {
  display: flex;
  justify-content: center;
  margin-right: 17px;
}
.button .button .btn-primary {
  width: 218px;
}

/* === BEGIN wp_pagenavi === */
.more-peoducts {
  margin: 80px auto 40px;
  border: 1px solid rgb(16, 28, 33);
  width: 180px;
  height: 36px;
  font-size: 16px;
  padding-right: 27px;
  line-height: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("./assets/img/icon_download.png") no-repeat 150px !important;
}
.more-peoducts:hover {
  text-decoration: none;
  color: #000;
  background: url("./assets/img/icon_download.png") no-repeat 150px rgb(16, 28, 33) !important;
}

.wp-pagenavi {
  font-family: "Gilroy-Medium";
  font-size: 16px;
  text-align: center;
  margin-bottom: 30px;
  margin: 0 auto 95px;
  position: relative;
}
.wp-pagenavi a {
  text-decoration: none;
  margin: 0 13px;
}
.wp-pagenavi .first {
  background: url("./assets/img/icon_pagination-left.png") no-repeat center;
  padding: 10px 15px !important;
}
.wp-pagenavi .first:hover {
  background: url("./assets/img/icon_pagination-left--hover.png") no-repeat center !important;
}
.wp-pagenavi .last {
  padding: 10px 15px !important;
  background: url("./assets/img/icon_pagination-right.png") no-repeat center;
}
.wp-pagenavi .last:hover {
  background: url("./assets/img/icon_pagination-right--hover.png") no-repeat center !important;
}
.wp-pagenavi .previouspostslink {
  background: url("./assets/img/icon-pagination__black-left.png") no-repeat center;
  text-decoration: none;
}
.wp-pagenavi .previouspostslink:hover {
  background: url("./assets/img/icon-pagination__hover-left.png") no-repeat center;
}
.wp-pagenavi .nextpostslink {
  background: url("./assets/img/icon-pagination__black-right.png") no-repeat center;
  text-decoration: none;
}
.wp-pagenavi .nextpostslink:hover {
  background: url("./assets/img/icon-pagination__hover-right.png") no-repeat center;
}
.wp-pagenavi .first,
.wp-pagenavi .last,
.wp-pagenavi .previouspostslink,
.wp-pagenavi .nextpostslink,
.wp-pagenavi .page,
.wp-pagenavi .current {
  padding: 3px 5px;
}
.wp-pagenavi .current {
  color: rgb(16, 28, 33);
  font-size: 16px;
}

/* === END wp_pagenavi === */
img.alignleft, img.alignright {
  max-width: 49%;
}
img.alignleft {
  margin: 0 30px 25px 0;
  float: left;
}
img.alignright {
  margin: 0 0 25px 30px;
  float: right;
}
img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 100%;
}

.iframe-box {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 42.25%;
  max-width: 900px;
  margin: 50px auto;
}
.iframe-box iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/*.quote*/
blockquote {
  position: relative;
  display: flex;
  margin-left: 130px;
  font-size: 30px;
  line-height: 1.5;
  margin-bottom: 50px;
  flex-direction: column;
}
blockquote:before {
  content: "";
  display: block;
  width: 86px;
  height: 86px;
  position: absolute;
  top: 0;
  left: -130px;
  background: center no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='79' height='57' viewBox='0 0 79 57' fill='none'%3E%3Cpath d='M14 28L21.4 26.8C24.8667 26.8 27.9333 28 30.6 30.4C33.4 32.6667 34.8 36.0667 34.8 40.6C34.8 45 33.3333 48.7333 30.4 51.8C27.4667 54.8667 23.3333 56.4 18 56.4C12.8 56.4 8.46667 54.4 5 50.4C1.66667 46.4 2.83122e-07 41.2667 2.83122e-07 35C2.83122e-07 28.6 2.4 22.2667 7.2 16C12.1333 9.73332 19.1333 4.53333 28.2 0.399999L29.6 3.79999C17.0667 10.7333 10.8 17.7333 10.8 24.8C10.8 26.9333 11.8667 28 14 28ZM58 28L65.4 26.8C68.8667 26.8 71.9333 28 74.6 30.4C77.4 32.6667 78.8 36.0667 78.8 40.6C78.8 45 77.3333 48.7333 74.4 51.8C71.4667 54.8667 67.3333 56.4 62 56.4C56.8 56.4 52.4667 54.4 49 50.4C45.6667 46.4 44 41.2667 44 35C44 28.6 46.4 22.2667 51.2 16C56.1333 9.73332 63.1333 4.53333 72.2 0.399999L73.6 3.79999C61.0667 10.7333 54.8 17.7333 54.8 24.8C54.8 26.9333 55.8667 28 58 28Z' fill='%23818974'/%3E%3C/svg%3E");
}
blockquote h2,
blockquote h3,
blockquote h4,
blockquote h5,
blockquote h6 {
  color: rgb(16, 28, 33) !important;
  word-break: break-word;
}
blockquote p {
  font-size: 30px;
}

@media screen and (max-width: 1024px) {
  .post-item .fancybox {
    width: 100%;
    display: flex;
  }
  img.alignleft, img.alignright, img.aligncenter {
    max-width: 100%;
    margin: 0 auto 30px;
  }
  .iframe-box {
    padding-top: 55.25%;
  }
  blockquote {
    margin: 50px 0;
  }
  blockquote:before {
    content: "";
    top: -40px;
    left: initial;
    right: 0;
  }
  blockquote h2,
blockquote h3,
blockquote h4,
blockquote h5,
blockquote h6 {
    font-size: 30px;
    padding-right: 100px;
  }
  blockquote p {
    font-size: 20px;
  }
}
.wpcf7-spinner {
  position: absolute;
  bottom: 0;
  right: 0;
}

.footer {
  background: #101C21;
  padding-top: 100px;
}
.footer .footer-title {
  color: rgb(159, 164, 166);
  margin-bottom: 13px;
  padding: 0 24px;
}
.footer .footer-page {
  display: flex;
  justify-content: space-between;
}
.footer .footer-link {
  display: flex;
  flex-direction: column;
  margin-bottom: 13px;
  padding: 0 12px;
}
.footer .footer_link {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  padding: 0 12px;
}
.footer a {
  color: white;
  text-decoration: none;
}
.footer a.footer__link {
  margin-bottom: 14px;
}
.footer .btn-primary {
  height: 56px;
  width: 218px;
  margin-top: 52px;
  margin-bottom: 106px;
}
.footer .footer-other {
  display: flex;
  flex-direction: column;
}
.footer .footer-other-link {
  display: flex;
  justify-content: space-between;
  margin-bottom: 57px;
}
.footer .input-block {
  display: flex;
}
.footer .input-block .input-title {
  font-family: "Arial";
  font-weight: 400;
  color: white;
}
.footer .input-block input#fname {
  width: 461px;
  height: 56px;
  border-radius: 4px;
}
.footer .input-block input[type=submit] {
  width: 160px;
  background: rgb(40, 51, 55);
  color: white;
  margin-left: 20px;
  border-radius: 56px;
  border: none;
}
.footer .footer-social-network-row {
  display: flex;
  justify-content: space-between;
}
.footer .footer-social-network .footer-social-networks {
  display: flex;
}
.footer .footer-social-network .footer-agreement,
.footer .footer-social-network .footer-policy,
.footer .footer-social-network .footer-reserved {
  color: rgb(159, 164, 166);
}

.markup .col-lg-4.col-md-6.col-xs-12 {
  padding: 25px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.27);
}
.markup .col-lg-4.col-md-6.col-xs-12:hover {
  box-shadow: 0 0 1px rgb(192, 17, 17);
}
.markup .scroll {
  max-height: 350px;
}
.markup .site-map ol {
  padding-left: 40px;
  padding-bottom: 20px;
}
.markup .site-map ol li {
  position: relative;
  border-left: 2px solid rgb(16, 28, 33);
}
.markup .site-map ol li:hover {
  cursor: pointer;
}
.markup .site-map ol li:hover > a {
  text-decoration: underline;
}
.markup .site-map ol li:hover:before {
  background-color: rgb(243, 247, 244);
}
.markup .site-map ol li a {
  line-height: 40px;
  margin-left: 15px;
  display: flex;
}
.markup .site-map ol li:before {
  content: "";
  position: absolute;
  left: -26px;
  top: 15px;
  width: 10px;
  height: 10px;
  background-color: rgb(16, 28, 33);
  border-radius: 50%;
}
.markup .site-map ol li:after {
  content: "";
  position: absolute;
  left: -2px;
  top: 25px;
  width: 50%;
  height: 15px;
  border-left: 2px solid rgb(16, 28, 33);
  border-bottom: 2px solid rgb(16, 28, 33);
}
.markup .gradient-default {
  background: radial-gradient(rgb(206, 196, 196), transparent);
  transition: all 2s;
}
.markup .gradient-default:hover {
  background: radial-gradient(red, transparent);
}

body {
  font-family: "Arial";
  background-color: #fff;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrap_page {
  overflow: hidden;
  margin-bottom: auto;
}

.scrolltop {
  display: none;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: 20;
}

.muve-top {
  position: absolute;
  right: 20px;
  bottom: 20px;
  padding: 20px;
  background: rgb(16, 28, 33);
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}
.muve-top:before {
  content: "↑";
  position: absolute;
  font-weight: bold;
  font-size: 20px;
  top: 47%;
  left: 52%;
  transform: translate(-50%, -50%);
}

/*1*/
[class*=brand-bg] {
  background-color: rgb(16, 28, 33);
  height: 15vh;
  width: 75%;
  margin-bottom: 25px;
}

.brand-bg-2 {
  background-color: rgb(243, 247, 244);
}

/*2*/
::selection {
  color: #000;
  background: rgb(243, 247, 244);
}

a {
  color: rgb(16, 28, 33);
}
a:hover {
  color: white;
}

p {
  font-size: 16px;
  line-height: 1.4;
  color: #000;
}

b,
strong {
  font-weight: 700;
  color: #0c0c0c;
}

i,
em {
  font-weight: 400;
  color: #636363;
}

/*3*/
ol, ul {
  padding: 0;
  counter-reset: li;
}
ol li, ul li {
  list-style: none;
  list-style-position: outside;
  position: relative;
  padding-left: 50px;
}
ol li:before, ul li:before {
  content: counter(li, decimal) ".";
  counter-increment: li;
  margin-left: 20px;
  margin-right: 20px;
  font-weight: 700;
  color: rgb(16, 28, 33);
  position: absolute;
  top: 0;
  left: 0;
}

/*4*/
ul li::before {
  content: "";
  border-radius: 50%;
  width: 10px;
  min-width: 10px;
  height: 10px;
  top: 7px;
}

/*5-6*/
.font-weight-light {
  font-weight: lighter;
}

.font-weight-bold {
  font-weight: bold;
}

/*7-8*/
h1,
h2,
h3,
h4,
h5,
h6,
.title_1,
.result-item_title,
blockquote h2,
blockquote h3,
blockquote h4,
blockquote h5,
blockquote h6,
.title_2,
.title_3,
.title_4,
.title_5,
.title_6 {
  line-height: 1.4;
  color: rgb(40, 51, 55);
  font-weight: 600;
  font-family: "Times New Romance";
}

h1,
.title_1,
.result-item_title,
blockquote h2,
blockquote h3,
blockquote h4,
blockquote h5,
blockquote h6 {
  font-size: 60px;
}

h2,
.title_2 {
  font-size: 58px;
}

h3,
.title_3 {
  font-size: 32px;
}

h4,
.title_4 {
  font-size: 24px;
}

h5,
.title_5 {
  font-size: 18px;
}

h6,
.title_6 {
  font-size: 16px;
}

/*9*/
input[type=checkbox] + label {
  font-size: 20px;
  line-height: 1.5;
  font-family: "Times New Romance";
}

input[type=checkbox],
input[type=radio] {
  display: none;
}
input[type=checkbox] + label,
input[type=radio] + label {
  color: #595959;
  cursor: pointer;
}
input[type=checkbox] + label:hover,
input[type=radio] + label:hover {
  color: #060606;
}
input[type=checkbox] + label:before,
input[type=radio] + label:before {
  content: "";
  padding: 9px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 15px;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border: 1px solid #CDCDCD;
}

input[type=radio] + label:before {
  border-radius: 50%;
}

input[type=radio]:checked + label:before {
  border-radius: 50%;
  background: url(assets/img/radio.svg) center/18px no-repeat;
}

input:checked + label {
  color: #060606;
}
input:checked + label:before {
  content: "";
  background: url(assets/img/checkbox.svg) center/18px no-repeat;
}

/*10-11*/
.btn {
  display: inline-block;
  padding: 12.5px 29px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  line-height: 1.5;
  border-radius: 4px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary {
  padding: 16px 25px 19px;
  font-size: 17px;
  line-height: 24px;
  color: #ffffff;
  background-color: #40494D;
  border: 1px solid transparent;
  border-radius: 56px;
}
.btn-primary:hover {
  background-color: #5d6c72;
}
.btn-primary:focus {
  box-shadow: none;
}

/*12*/
/*13*/
.scroll-x {
  overflow: auto;
}

.scroll-x::-webkit-scrollbar-thumb {
  background-color: rgb(16, 28, 33);
  border-radius: 5px;
}

.scroll-x::-webkit-scrollbar {
  height: 6px;
  background-color: #E5E5E5;
  border: 0px solid #E5E5E5;
  border-radius: 5px;
}

.scroll::-webkit-scrollbar {
  width: 6px;
  border-radius: 5px;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: rgb(16, 28, 33);
  background-clip: padding-box;
  border: 0px solid #f9f9f9;
  border-radius: 5px;
}
.scroll::-webkit-scrollbar-thumb:hover {
  background-color: #41a6f4;
}

.scroll::-webkit-scrollbar-track {
  background-color: #f9f9f9;
  cursor: pointer;
}

::-webkit-scrollbar-button {
  background-color: transparent;
  display: none;
}

/* IE */
.scroll {
  scrollbar-face-color: rgb(16, 28, 33);
  scrollbar-shadow-color: #f9f9f9;
  scrollbar-highlight-color: #f9f9f9;
}

/* FireFox */
.scroll {
  scrollbar-color: rgb(16, 28, 33) #f9f9f9;
}

.scroll {
  overflow-y: scroll;
  overflow-x: hidden;
}

.scroll-heidden::-webkit-scrollbar {
  width: 0px;
}

/*14*/
/*15*/
/*16*/
/*17*/
/*18*/
.breadcrumb {
  font-size: 14px;
  color: #B2B1B1;
}
.breadcrumb a {
  text-decoration: none;
  color: rgb(243, 247, 244);
}
.breadcrumb a:hover {
  color: rgb(16, 28, 33);
}

.markup-link {
  position: fixed;
  bottom: 15px;
  left: 15px;
  color: white;
  padding: 5px 10px;
  background: black;
  text-decoration: none;
  border-radius: 50%;
}
.markup-link:hover {
  color: #fec22d;
}

/* === BEGIN MEDIA === */
/* ======================
$mobile-small 240px
$mobile-large 320px
$tablet-small 480px
$tablet-large 768px
$screen-small 1024px
$screen-large 1280px 
====================== */
@media screen and (max-width: 767px) {
  .breadcrumb {
    padding: 25px 15px 15px 0;
  }
}
/* === END MEDIA === */
/*# sourceMappingURL=style.css.map */
